
:root {
	--templatiq-primary-color: #8941FF;
	--templatiq-dark-color: #101014;
	--templatiq-btn-color: #35353D;
	--templatiq-white-color: #ffffff;
	--templatiq-body-color: #57575F;
	--templatiq-gray-color: #6B6B73;
	--templatiq-gray-color2: #D1D1D9;
	--templatiq-sec-color: #F1F1F4;
	--templatiq-section-color: #E8E8EE;
	--templatiq-section-color2: #F8F8F9;
	--templatiq-placeholder-color: #94949A;
	--templatiq-success-color: #2AB76E;
	--templatiq-danger-color: #D53034;
	--templatiq-warning-color: #F4A11C;
	--templatiq-warning-color2: #FFF6DE;
	--templatiq-pro-color: #F17D0E;
	--templatiq-pro-color2: #D16A0A;

	--templatiq-box-shadow: 0 4px 16px rgba(16, 16, 20, 0.04);
	--templatiq-box-shadow-focus: 0 4px 16px rgba(137, 65, 255, .15);
}

ul {
	margin: 0; 
	padding: 0; 
}
li {
	padding: 0; 
	margin: 0;
}
a { 
	text-decoration: none;
	outline: none;
	box-shadow: none;
	transition: color 0.3s ease;
}
button {
	border: none;
	outline: none;
	box-shadow: none;
}
.templatiq-btn {
	display: inline-flex;
    gap: 10px;
    align-items: center;
    height: 36px;
    padding: 0 12px;
    border-radius: 8px;
    color: var(--templatiq-btn-color);
    font-size: 14px;
    font-weight: 500;
    background-color: var(--templatiq-sec-color);
    box-shadow: none;
    transition: background-color 0.3s ease;
	path {
		fill: var(--templatiq-btn-color);
		transition: fill 0.3s ease;
	}
	&:hover {
		color: var(--templatiq-white-color);
		background-color: var(--templatiq-primary-color);
		path {
			fill: var(--templatiq-white-color);
		}
	}
	&.templatiq-btn-white {
		background-color: var(--templatiq-white-color);
		color: var(--templatiq-btn-color);
		path {
			fill: var(--templatiq-btn-color);
			transition: fill 0.3s ease;
		}
		&:hover {
			color: var(--templatiq-white-color);
			background-color: var(--templatiq-primary-color);
			path {
				fill: var(--templatiq-white-color);
			}
		}
	}
	&.templatiq-btn-dark {
		background-color: var(--templatiq-dark-color);
		color: var(--templatiq-white-color);
		path {
			fill: var(--templatiq-white-color);
			transition: fill 0.3s ease;
		}
		&:hover {
			color: var(--templatiq-white-color);
			background-color: var(--templatiq-dark-color);
			path {
				fill: var(--templatiq-white-color);
			}
		}
	}
	&.templatiq-btn-primary {
		background-color: var(--templatiq-primary-color);
		color: var(--templatiq-white-color);
		path {
			fill: var(--templatiq-white-color);
			transition: fill 0.3s ease;
		}
		&:hover {
			color: var(--templatiq-white-color);
			background-color: var(--templatiq-primary-color);
			path {
				fill: var(--templatiq-white-color);
			}
		}
	}
	&.templatiq-btn-warning {
		background-color: var(--templatiq-warning-color);
		color: var(--templatiq-dark-color);
		path {
			fill: var(--templatiq-dark-color);
			transition: fill 0.3s ease;
		}
		&:hover {
			color: var(--templatiq-dark-color);
			background-color: var(--templatiq-warning-color);
			path {
				fill: var(--templatiq-dark-color);
			}
		}
	}
}

.templatiq-badge {
	display: inline-flex;
    gap: 10px;
    align-items: center;
    height: 36px;
    padding: 0 12px;
    border-radius: 8px;
    color: var(--templatiq-btn-color);
    font-size: 13px;
    font-weight: 600;
    background-color: var(--templatiq-sec-color);
	&.templatiq-badge-dark {
		background-color: var(--templatiq-dark-color);
		color: var(--templatiq-white-color);
	}
	&.templatiq-badge-pro {
		background-color: var(--templatiq-dark-color);
		color: var(--templatiq-pro-color);
		path {
			fill: var(--templatiq-pro-color);
		}
	}
}

.templatiq-tooltip {
	position: relative;
	&:before {
		content: attr(data-info);
		position: absolute;
		top: -45px;
		left: 50%;
		transform: translateX(-50%);
		text-align: center;
		color: var(--templatiq-white-color);
		font-size: 13px;
		font-weight: 600;
		padding: 8px 12px;
		border-radius: 8px;
		background-color: var(--templatiq-dark-color);
		opacity: 0;
		visibility: hidden;
		transition: opacity 0.3s ease, visibility 0.3s ease;
	}
	&:after {
		content: '';
		position: absolute;
		top: -12px;
		left: 50%;
		transform: translateX(-50%);
		border-top: 10px solid var(--templatiq-dark-color);
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		opacity: 0;
		visibility: hidden;
		transition: opacity 0.3s ease, visibility 0.3s ease;
	}
	&:hover {
		&:before,
		&:after {
			opacity: 1;
			visibility: visible;
		}
	}
}

.templatiq-root {
	margin-inline-start: -20px;
	background-color: var(--templatiq-section-color);
}
