

ul {
	margin: 0;
	padding: 0;
}
li {
	padding: 0;
	margin: 0; 
}
a {
	text-decoration: none;
	outline: none;
	box-shadow: none;
	transition: color 0.3s ease;
}
button {
	border: none;
	outline: none;
	box-shadow: none;
}

.templatiq-root {
	margin-inline-start: -20px;
}
