@import "grid";

:root {
  --templatiq-primary-color: #8941ff;
  --templatiq-dark-color: #101014;
  --templatiq-black-color: #000000;
  --templatiq-btn-color: #35353d;
  --templatiq-white-color: #ffffff;
  --templatiq-body-color: #57575f;
  --templatiq-gray-color: #6b6b73;
  --templatiq-gray-color2: #d1d1d9;
  --templatiq-sec-color: #f1f1f4;
  --templatiq-border-color: #eaecf0;
  --templatiq-section-color: #e8e8ee;
  --templatiq-section-color2: #f8f8f9;
  --templatiq-placeholder-color: #94949a;
  --templatiq-success-color: #2ab76e;
  --templatiq-danger-color: #d53034;
  --templatiq-warning-color: #f4a11c;
  --templatiq-warning-color2: #fff6de;
  --templatiq-pro-color: #f17d0e;
  --templatiq-pro-color2: #d16a0a;

  --templatiq-primary-100: #e8e3fe;
  --templatiq-primary-transparent: #f2ecff;
  --templatiq-primary-transparent2: #d5c4ff;

  --templatiq-box-shadow: 0 4px 16px rgba(16, 16, 20, 0.04);
  --templatiq-box-shadow-focus: 0 4px 16px rgba(137, 65, 255, 0.15);
}

ul {
  margin: 0;
  padding: 0;
}
li {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  outline: none;
  box-shadow: none !important;
  cursor: pointer;
  transition: color 0.3s ease;
}
button {
  border: none;
  outline: none;
  box-shadow: none;
}

.text-primary {
  color: var(--templatiq-primary-color) !important;
}
.text-dark {
  color: var(--templatiq-dark-color) !important;
}

.text-white {
  color: var(--templatiq-white-color) !important;
}

.text-success {
  color: var(--templatiq-success-color) !important;
}

.text-warning {
  color: var(--templatiq-warning-color) !important;
}

.text-danger {
  color: var(--templatiq-danger-color) !important;
}

.normal {
  font-weight: 400 !important;
}

.medium {
  font-weight: 500 !important;
}

.semi-bold {
  font-weight: 600 !important;
}

.bold {
  font-weight: 700 !important;
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

.text-center {
  text-align: center !important;
}

.templatiq {
  margin-inline-start: -20px;
  background-color: var(--templatiq-section-color);
  &:after {
    content: "";
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
  }
}
.elementor-editor-active {
  .templatiq {
    margin: 0;
  }
}

.templatiq-overlay-enable {
  &:after,
  .templatiq__modal {
    opacity: 1;
    visibility: visible;
  }
}

.templatiq-btn {
  display: inline-flex;
  gap: 10px;
  align-items: center;
  height: 36px;
  padding: 0 12px;
  border-radius: 8px;
  color: var(--templatiq-btn-color);
  font-size: 14px;
  font-weight: 500;
  background-color: var(--templatiq-sec-color);
  box-shadow: none;
  box-sizing: border-box;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  path {
    fill: var(--templatiq-btn-color);
    transition: fill 0.3s ease;
  }
  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  &:hover {
    color: var(--templatiq-white-color);
    background-color: var(--templatiq-primary-color);
    path {
      fill: var(--templatiq-white-color);
    }
  }
  &.templatiq-btn-full {
    width: 100%;
    justify-content: center;
  }
  &.templatiq-btn-white {
    background-color: var(--templatiq-white-color);
    color: var(--templatiq-btn-color);
    path {
      fill: var(--templatiq-btn-color);
      transition: fill 0.3s ease;
    }
    &:hover {
      color: var(--templatiq-white-color);
      background-color: var(--templatiq-primary-color);
      path {
        fill: var(--templatiq-white-color);
      }
    }
  }
  &.templatiq-btn-dark {
    background-color: var(--templatiq-dark-color);
    color: var(--templatiq-white-color);
    path {
      fill: var(--templatiq-white-color);
      transition: fill 0.3s ease;
    }
    &:hover {
      color: var(--templatiq-white-color);
      background-color: var(--templatiq-dark-color);
      path {
        fill: var(--templatiq-white-color);
      }
    }
  }
  &.templatiq-btn-primary {
    background-color: var(--templatiq-primary-color);
    color: var(--templatiq-white-color);
    path {
      fill: var(--templatiq-white-color);
      transition: fill 0.3s ease;
    }
    &:hover {
      color: var(--templatiq-white-color);
      background-color: var(--templatiq-primary-color);
      path {
        fill: var(--templatiq-white-color);
      }
    }
  }
  &.templatiq-btn-primary-transparent {
    color: var(--templatiq-primary-color);
    background-color: var(--templatiq-primary-transparent);
    &:hover {
      color: var(--templatiq-white-color);
      background-color: var(--templatiq-primary-color);
    }
  }
  &.templatiq-btn-success {
    background-color: var(--templatiq-success-color);
    color: var(--templatiq-white-color);
    path {
      fill: var(--templatiq-white-color);
      transition: fill 0.3s ease;
    }
    &:hover {
      color: var(--templatiq-white-color);
      background-color: var(--templatiq-success-color);
      path {
        fill: var(--templatiq-white-color);
      }
    }
  }
  &.templatiq-btn-warning {
    background-color: var(--templatiq-warning-color);
    color: var(--templatiq-dark-color);
    path {
      fill: var(--templatiq-dark-color);
      transition: fill 0.3s ease;
    }
    &:hover {
      color: var(--templatiq-dark-color);
      background-color: var(--templatiq-pro-color);
      path {
        fill: var(--templatiq-dark-color);
      }
    }
  }
}

.templatiq-badge {
  display: inline-flex;
  gap: 10px;
  align-items: center;
  height: 36px;
  padding: 0 12px;
  border-radius: 8px;
  color: var(--templatiq-btn-color);
  font-size: 13px;
  font-weight: 600;
  background-color: var(--templatiq-sec-color);
  &.templatiq-badge-dark {
    background-color: var(--templatiq-dark-color);
    color: var(--templatiq-white-color);
  }
  &.templatiq-badge-pro {
    background-color: var(--templatiq-dark-color);
    color: var(--templatiq-pro-color);
    path {
      fill: var(--templatiq-pro-color);
    }
  }
}

.templatiq-tooltip {
  position: relative;
  &:before {
    content: attr(data-info);
    position: absolute;
    top: -45px;
    left: 50%;
    transform: translateX(-50%);
    min-width: max-content;
    text-align: center;
    color: var(--templatiq-white-color);
    font-size: 13px;
    font-weight: 600;
    padding: 8px 12px;
    border-radius: 8px;
    background-color: var(--templatiq-dark-color);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
  }
  &:after {
    content: "";
    position: absolute;
    top: -12px;
    left: 50%;
    transform: translateX(-50%);
    border-top: 10px solid var(--templatiq-dark-color);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
  }
  &:hover {
    &:before,
    &:after {
      opacity: 1;
      visibility: visible;
    }
  }
}

.templatiq__checkbox {
  display: flex;
  gap: 12px;
  text-align: left;
  .templatiq__checkbox__input {
    display: none;
    &:checked {
      ~ .templatiq__checkbox__label {
        &:before {
          background: var(--templatiq-primary-color);
          border-color: var(--templatiq-primary-color);
        }
        &:after {
          opacity: 1;
          visibility: visible;
        }
      }
    }
    &:disabled {
      ~ .templatiq__checkbox__label {
        opacity: 0.5;
        cursor: not-allowed;
      }
    }
  }
  .templatiq__checkbox__label {
    flex: 1;
    width: 100%;
    font-size: 14px;
    font-weight: 500;
    position: relative;
    color: var(--templatiq-gray-color);
    padding-inline-start: 33px;
    cursor: pointer;
    &:before {
      content: "";
      position: absolute;
      inset-inline-start: 0;
      top: 0;
      width: 18px;
      height: 18px;
      border-radius: 4px;
      background: var(--templatiq-white-color);
      border: 2px solid var(--templatiq-gray-color2);
      box-sizing: border-box;
    }
    &:after {
      content: "";
      position: absolute;
      inset-inline-start: 0;
      top: 0;
      width: 18px;
      height: 18px;
      background: url("../svg/icon/check.svg") no-repeat center center;
      background-size: 10px;
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.3s ease, visibility 0.3s ease;
    }
  }
  .templatiq__checkbox__count {
    text-align: end;
    color: var(--templatiq-gray-color);
  }

  &:not(:last-child) {
    margin-bottom: 15px;
  }
}

.templatiq__modal {
  width: 100%;
  max-width: 500px;
  border-radius: 12px;
  padding: 26px 32px 32px;
  background-color: var(--templatiq-white-color);
  box-sizing: border-box;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
}

.templatiq__modal__cancel__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  padding: 0;
  border-radius: 50%;
  position: absolute;
  top: 20px;
  inset-inline-end: 20px;
  cursor: pointer;
  background-color: var(--templatiq-sec-color);
  transition: background-color 0.3s ease;
  path {
    fill: var(--templatiq-dark-color);
    transition: fill 0.3s ease;
  }
  &:hover {
    background-color: var(--templatiq-primary-color);
    path {
      fill: var(--templatiq-white-color);
    }
  }
}

.modal-open {
  .templatiq__modal {
    opacity: 1;
    visibility: visible;
    .templatiq__modal__content {
      transform: translateY(0);
    }
  }
}

.templatiq__content__empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  text-align: center;
  padding: 50px 0;
  .templatiq__content__empty__icon {
    width: 100px;
    height: 100px;
  }
  .templatiq__content__empty__title {
    font-size: 18px;
    font-weight: 600;
    margin: 0;
    color: var(--templatiq-dark-color);
  }
  .templatiq__content__empty__desc {
    font-size: 14px;
    font-weight: 400;
    margin: 0;
    color: var(--templatiq-placeholder-color);
  }
}

.templatiq__loading {
  overflow: hidden;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.25);
  }
  &:after {
    content: "";
    border: 2px solid #f3f3f3;
    border-radius: 50%;
    border-top: 2px solid #656a7a;
    width: 20px;
    height: 20px;
    animation: rotate360 2s linear infinite;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &.templatiq__loading--btn {
    position: relative;
    &:after {
      top: 15px;
      left: 50%;
      transform: unset;
    }
  }
}

.elementor-templates-modal .dialog-message {
  background: var(--templatiq-white-color);
}
#tmTemplateLibrary__modal .dialog-message {
  padding: 0;
}
#tmTemplateLibrary__modal .dialog-buttons-wrapper {
  display: none;
}
.image-loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 12px;
  height: 12px;
  border: 2px solid var(--templatiq-primary-color);
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
@keyframes rotation {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes rotate360 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}

@keyframes shimmerEffect {
  100% {
    mask-position: left;
  }
}
