// Wizard New Style
.fullsite-setup-wizard {
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0;
  background-color: #f4f5f7;
  &__header {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    &__step {
      display: flex;
      flex: 1;
      gap: 15px;
      max-width: 700px;
      padding: 15px 0;
      flex-direction: column;
      align-items: center;
      @media (max-width: 767px) {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 80px;
        width: 100%;
        padding: 15px 20px 0;
        box-sizing: border-box;
      }
      &__wrapper {
        display: flex;
        align-items: center;
        gap: 30px;
      }
      &__single {
        font-size: 14px;
        font-weight: 500;
        margin: 0;
        color: #000000;
        position: relative;
        padding-inline-start: 40px;
        &:before {
          content: attr(data-step);
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          width: 30px;
          height: 30px;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #ffffff;
          background-color: #cccccc;
        }
        &.active {
          &:before {
            background-color: #4353ff;
          }
        }
        &.completed {
          &:before {
            content: "";
            background-image: url("../../../../svg/icon/check.svg");
            background-size: 14px;
            background-repeat: no-repeat;
            background-position: center center;
            background-color: #67d02e;
          }
        }
      }
    }
  }
  &__logo {
    display: flex;
    align-self: stretch;
    align-items: center;
    padding: 15px 25px;
    border-right: 1px solid #e7e7e7;
    @media (max-width: 767px) {
      border: none;
    }
    img {
      width: 140px;
    }
  }
  &__close {
    display: flex;
    align-self: stretch;
    align-items: center;
    padding: 15px 25px;
    margin-inline-start: 138px;
    border-left: 1px solid #e7e7e7;
    @media (max-width: 1199px) {
      margin-inline-start: 0;
    }
    &.remove-close {
      border: none;
      .fullsite-setup-wizard__close__btn {
        display: none;
      }
    }
    &__btn {
      svg path {
        fill: #b7b7b7;
        transition: fill 0.3s ease;
      }
      &:hover {
        svg path {
          fill: #4353ff;
        }
      }
    }
  }
  &__footer {
    display: flex;
    gap: 30px;
    padding: 15px 25px;
    margin-top: auto;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    @media (max-width: 375px) {
      gap: 20px;
      padding: 30px 20px;
    }
  }
  &__btn {
    padding: 0 20px;
    height: 48px;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
    border-radius: 8px;
    font-size: 15px;
    background-color: #4353ff;
    border-color: #4353ff;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: opacity 0.3s ease;
    &:hover {
      opacity: 0.85;
    }
    @media (max-width: 375px) {
      gap: 15px;
    }
    &--skip {
      background: transparent;
      color: #000;
      padding: 0;
    }
    &--full {
      width: 100%;
      text-align: center;
      box-sizing: border-box;
    }
    &--return {
      color: #141414;
      background: #ebebeb;
    }
    &--next {
      position: relative;
      gap: 10px;
      padding: 0 25px;
      @media (max-width: 375px) {
        padding: 0 20px;
      }
    }
    &.loading {
      position: relative;
      &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border-radius: 8px;
        background-color: rgba(0, 0, 0, 0.5);
      }
      &:after {
        content: "";
        display: inline-flex;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 2px solid #ffffff;
        border-top-color: #4353ff;
        position: absolute;
        top: 12px;
        right: 50%;
        transform: translateX(-50%);
        animation: spin 3s linear infinite;
      }
    }
  }
  &__next {
    display: flex;
    align-items: center;
    gap: 20px;
    flex: 1;
    justify-content: flex-end;
    .fullsite-setup-wizard__btn {
      height: 44px;
    }
    @media (max-width: 375px) {
      gap: 15px;
    }
  }
  &__back {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    &__btn {
      display: flex;
      gap: 10px;
      align-items: center;
      color: #000;
      text-decoration: unset;
      &:hover {
        opacity: 0.85;
      }
      img {
        width: 7px;
      }
    }
  }
  &__content {
    width: 100%;
    display: flex;
    gap: 30px;
    padding: 50px 0;
    flex-direction: column;
    max-width: 700px;
    margin: 0 auto;
    &__title {
      font-size: 30px;
      line-height: 36px;
      font-weight: 400;
      margin: 0 0 10px;
      color: #141414;
      span {
        display: block;
      }
      &--section {
        font-size: 24px;
        font-weight: 500;
        margin: 30px 0 15px;
      }
    }
    &__desc {
      font-size: 16px;
      font-weight: 400;
      margin: 0 0 10px;
      color: #484848;
    }
    &__header {
      text-align: start;
      &__title {
        font-size: 30px;
        line-height: 36px;
        font-weight: 400;
        margin: 0 0 10px !important;
        &:last-child {
          margin: 0;
        }
      }
      &__desc {
        font-size: 16px;
        line-height: 26px;
        font-weight: 400;
        margin: 0;
      }
    }
    &__items {
      display: flex;
      gap: 30px;
      flex-wrap: wrap;
      padding: 40px;
      background-color: #ffffff;
      border-radius: 10px;
      box-shadow: 0 10px 15px rgba(0, 0, 0, 0.05);
      @media (max-width: 480px) {
        padding: 35px 25px;
      }
      @media (max-width: 375px) {
        padding: 30px 20px;
      }

      &--listings {
        padding: 40px 180px;
        flex-direction: column;
        @media (max-width: 991px) {
          padding: 40px 100px;
        }
        @media (max-width: 767px) {
          padding: 40px 50px;
        }
        @media (max-width: 480px) {
          padding: 35px 25px;
        }
        @media (max-width: 375) {
          padding: 30px 20px;
        }
      }
      &--completed {
        flex-direction: column;
        text-align: center;
        gap: 0;
        padding: 40px 75px 50px;
        @media (max-width: 480px) {
          padding: 40px 30px 50px;
        }
        .congratulations-img {
          margin: 0 auto 10px;
        }
      }
    }
    &__import {
      flex-direction: column;
      &__title {
        font-size: 18px;
        font-weight: 500;
        margin: 0;
        color: #141414;
      }
      &__wrapper {
        display: flex;
        gap: 20px;
        text-align: start;
        flex-direction: column;
      }
      &__single {
        label {
          font-size: 15px;
          font-weight: 400;
          position: relative;
          padding-left: 30px;
          color: #484848;
          cursor: pointer;
          &:before {
            content: "";
            display: inline-flex;
            width: 18px;
            height: 18px;
            border-radius: 4px;
            border: 1px solid #b7b7b7;
            position: absolute;
            left: 0;
            top: -1px;
          }
          &:after {
            content: "";
            background-image: url("../../../../svg/icon/check.svg");
            background-repeat: no-repeat;
            width: 12px;
            height: 10px;
            background-size: 11px;
            position: absolute;
            left: 5px;
            top: 5px;
            opacity: 0;
            transition: opacity 0.3s ease;
          }
        }
        input[type="checkbox"] {
          display: none;
          &:checked {
            ~ label {
              &:before {
                background-color: #4353ff;
                border-color: #4353ff;
              }
              &:after {
                opacity: 1;
              }
            }
          }
        }
        &__label {
            display: flex;
            gap: 6px;
            &__required {
                display: flex;
                position: relative;
                top: 3px;
                padding-right: 10px;
                cursor: help;
                &:hover {
                    .fullsite-setup-wizard__content__import__single__label__required__text {
                        opacity: 1;
                        visibility: visible;
                    }
                }
                &__text {
                    position: absolute;
                    top: -10px;
                    left: 100%;
                    width: max-content;
                    font-size: 12px;
                    line-height: 18px;
                    font-weight: 600;
                    color: #ffffff;
                    background-color: #000000;
                    padding: 8px 12px;
                    border-radius: 8px;
                    opacity: 0;
                    visibility: hidden;
                    transition: opacity 0.3s ease, visibility 0.3s ease;
                    &:before {
                        content: '';
                        position: absolute;
                        right: 100%;
                        top: 50%;
                        transform: translateY(-50%);
                        border-right: 6px solid #000000;
                        border-top: 6px solid transparent;
                        border-bottom: 6px solid transparent;
                    }
                }
            }
        }
        &.required_plugins {
          display: flex;
          gap: 15px;
          align-items: center;
          justify-content: space-between;
          label {
            display: flex;
            gap: 10px;
            cursor: default;
            .plugin_status {
              color: #d53034;
              font-weight: 600;
            }
          }
          input[type="checkbox"] {
            &:disabled {
              ~ label {
                .plugin_name {
                  opacity: 0.5;
                }
                .plugin_status {
                  opacity: 0.75;
                }
              }
            }
          }
          .required_plugin_purchase {
            display: flex;
            gap: 8px;
            align-items: center;
            font-size: 12px;
            line-height: 18px;
            font-weight: 600;
            height: 30px;
            padding: 0 16px;
            border-radius: 8px;
            box-shadow: none;
            cursor: pointer;
            text-decoration: none;
            color: #ffffff;
            background-color: #8941ff;
          }
        }
      }
      &__btn {
        border: none;
        cursor: pointer;
        margin: 0 !important;
        border-radius: 8px !important;
        &.disabled {
          opacity: 0.5;
          cursor: not-allowed;
        }
      }
      &__notice {
        margin-top: -10px;
        font-size: 14px;
        font-weight: 400;
        text-align: center;
      }
      &__warning {
        display: flex;
        padding: 10px;
        font-size: 12px;
        background-color: #f3dddb;
        border-radius: 8px;
        svg {
          max-width: 16px;
          margin-inline-end: 8px;
          path {
            fill: #ef4333;
          }
        }
        strong {
          color: #ef4333;
        }
      }
    }
    &__btns {
      display: flex;
      gap: 15px;
      flex-wrap: wrap;
      justify-content: center;
    }
    &__pricing {
      &__checkbox {
        display: flex;
        justify-content: space-between;
        .feature-title {
          font-size: 15px;
          font-weight: 500;
          color: #484848;
        }
        label {
          display: flex;
          position: relative;
          cursor: pointer;
          &:before {
            content: "";
            width: 40px;
            height: 20px;
            border-radius: 15px;
            border: 1px solid #4353ff;
            background: transparent;
            position: absolute;
            right: 0;
            top: 0;
          }
          &:after {
            content: "";
            position: absolute;
            right: 22px;
            top: 4px;
            width: 14px;
            height: 14px;
            border-radius: 100%;
            background-color: #4353ff;
            transition: all 0.3s ease;
          }
        }
        input[type="checkbox"] {
          display: none;
          &:checked {
            ~ label {
              &:before {
                background-color: #4353ff;
              }
              &:after {
                right: 5px;
                background-color: #ffffff;
              }
            }
          }
        }
      }
      &__amount {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 20px;
        .price-title {
          font-size: 15px;
          font-weight: 500;
          color: #484848;
        }
        .price-amount {
          font-size: 14px;
          font-weight: 500;
          color: #141414;
          border-radius: 8px;
          background-color: #ebebeb;
          border: 1px solid #ebebeb;
          padding: 10px 15px;
          input {
            border: none;
            outline: none;
            box-shadow: none;
            padding: 0;
            max-width: 45px;
            background: transparent;
          }
        }
      }
    }
    &__gateway {
      display: flex;
      gap: 20px;
      flex-direction: column;
      &__title {
        font-size: 16px;
        font-weight: 400;
        color: #141414;
        margin: 30px 0 0;
      }
      &__checkbox {
        display: flex;
        justify-content: space-between;
        .gateway-title {
          font-size: 15px;
          font-weight: 500;
          color: #484848;
        }
        label {
          display: flex;
          position: relative;
          cursor: pointer;
          &:before {
            content: "";
            width: 16px;
            height: 16px;
            border-radius: 4px;
            border: 2px solid #b7b7b7;
            background: transparent;
            position: absolute;
            right: 0;
            top: 0;
          }
          &:after {
            content: "";
            background-image: url("../../../../svg/icon/check.svg");
            background-repeat: no-repeat;
            width: 12px;
            height: 10px;
            background-size: 11px;
            position: absolute;
            right: 5px;
            top: 5px;
            opacity: 0;
          }
        }
        input[type="checkbox"] {
          display: none;
          &:checked {
            ~ label {
              &:before {
                border-color: #4353ff;
                background-color: #4353ff;
              }
              &:after {
                opacity: 1;
              }
            }
          }
        }
      }
    }
    &__notice {
      display: flex;
      gap: 5px;
      align-items: center;
      justify-content: center;
      font-size: 14px;
      font-weight: 500;
      color: #484848;
    }
  }
  &__checkbox {
    display: flex;
    align-items: center;
    gap: 10px;
    @media (max-width: 480px) {
      width: 100%;
      label {
        width: 100%;
      }
    }
    &--custom {
      flex: 0 0 100%;
      display: none;
    }
    label {
      position: relative;
      font-size: 14px;
      font-weight: 500;
      color: #141414;
      height: 40px;
      line-height: 38px;
      padding: 0 40px 0 15px;
      border-radius: 5px;
      border: 1px solid #d6d6d6;
      transition: background-color 0.3s ease;
      box-sizing: border-box;
      cursor: pointer;
      &:before {
        content: "";
        background-image: url("../../../../svg/icon/check.svg");
        background-repeat: no-repeat;
        width: 16px;
        height: 16px;
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        background-size: 14px;
        opacity: 0;
      }
    }
    input[type="checkbox"] {
      display: none;
      &:checked {
        ~ label {
          background-color: #4353ff40;
          border-color: transparent;
          &::before {
            opacity: 1;
          }
        }
      }
    }
    input[type="text"] {
      width: 100%;
      height: 42px;
      border-radius: 4px;
      padding: 0 16px;
      background-color: #ebebeb;
      border: none;
      outline: none;
      box-sizing: border-box;
      &::placeholder {
        font-size: 14px;
        font-weight: 400;
        color: #787878;
      }
    }
  }

  .middle-content-import {
    position: unset !important;
    transform: unset !important;
    margin: 50px auto !important;
  }
  .import-done-congrats {
    justify-content: center;
  }
  .tweet-import-success {
    position: relative;
  }
}
