.tmTemplateLibrary__preview {
	overflow: hidden;
	margin: auto;
	width: 100%;
	height: 100%;
	-webkit-transition: width .2s, height .2s;
	        transition: width .2s, height .2s;
}

.tmTemplateLibrary__preview > iframe {
	width: 150%;
	height: 150%;
	-webkit-transform: scale(.666) translateX(-25%) translateY(-25%);
	    -ms-transform: scale(.666) translateX(-25%) translateY(-25%);
	        transform: scale(.666) translateX(-25%) translateY(-25%);
}

.tmTemplateLibrary__logo-wrap {
	display: inline-block;
	margin-right: 10px;
	width: 30px;
	height: 30px;
	border-radius: 100%;
	background-color: #562dd4;
	color: #fff;
	text-align: center;
	line-height: 30px;
}

.tmTemplateLibrary__logo-wrap > i {
	position: relative;
	top: 1px;
}

.tmTemplateLibrary__logo-title {
	padding-top: 2px;
}

.tmTemplateLibrary__responsive-menu-item {
	display: inline-block;
	padding: 15px 0;
	width: 40px;
	cursor: pointer;
}
.tmTemplateLibrary__responsive-menu-item.elementor-active {
	border-bottom: 3px solid #562dd4;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f1f3f5), to(#fff));
	background-image: -webkit-linear-gradient(top, #f1f3f5, #fff);
	background-image:         linear-gradient(to bottom, #f1f3f5, #fff);
}

.tmTemplateLibrary__header-menu .elementor-template-library-menu-item.elementor-active {
	border-bottom-color: #562dd4;
}

#tmTemplateLibrary__toolbar {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display:         flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	        align-items: center;
	-ms-flex-align: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	-webkit-justify-content: space-between;
	        justify-content: space-between;
}

#tmTemplateLibrary__toolbar-search,
#tmTemplateLibrary__toolbar-filter {
	position: relative;
	width: 200px;
}

#tmTemplateLibrary__toolbar-search i,
.tmTemplateLibrary__filter-btn i {
	position: absolute;
	top: 50%;
	right: 0;
	-webkit-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	        transform: translateY(-50%);
}

.tmTemplateLibrary__filter-btn {
	display: block;
	text-align: left;
	text-transform: uppercase;
	cursor: pointer;
}

#tmTemplateLibrary__toolbar-counter {
	font-size: 12px;
}

#tmTemplateLibrary__search {
	border: none;
}

#tmTemplateLibrary__search,
.tmTemplateLibrary__filter-btn {
	padding: 8px 15px 8px 0;
	border-bottom: 1px solid #d5dadf;
	border-radius: 0;
	font-size: 12px;
}

#tmTemplateLibrary__filter-tags {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 999;
	display: none;
	margin-top: 10px;
	padding: 10px;
	width: 270%;
	border-radius: 0 2px 2px;
	background-color: #fff;
	-webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, .05);
	        box-shadow: 0 4px 8px rgba(0, 0, 0, .05);
}
#tmTemplateLibrary__filter-tags > li {
	float: left;
	padding: 10px;
	width: 25%;
	text-align: left;
	text-transform: capitalize;
	cursor: pointer;
}
#tmTemplateLibrary__filter-tags > li:hover,
#tmTemplateLibrary__filter-tags > li.active {
	color: #e8357c;
}
#tmTemplateLibrary__filter-tags:before {
	position: absolute;
	bottom: 100%;
	left: 0;
	width: 0;
	height: 0;
	border: solid transparent;
	border-width: 0 10px 10px 0;
	border-bottom-color: #fff;
	content: " ";
	pointer-events: none;
}

#tmTemplateLibrary__templates {
	height: calc(100% + 30px);
}

.tmTemplateLibrary__templates-window {
	position: relative;
	overflow-y: auto;
	margin: 10px -15px 0;
	height: calc(100% - 45px);
}

#tmTemplateLibrary__templates-list {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display:         flex;
	-webkit-box-align: start;
	-webkit-align-items: flex-start;
	        align-items: flex-start;
	-ms-flex-align: start;
	-webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
}

.tmTemplateLibrary__template {
	position: relative;
	overflow: hidden;
	margin: 15px;
	border-radius: 2px;
	background-color: #fff;
	-webkit-box-shadow: 0 1px 20px 0 rgba(0, 0, 0, .07);
	        box-shadow: 0 1px 20px 0 rgba(0, 0, 0, .07);
}
.tmTemplateLibrary__templates--section .tmTemplateLibrary__template {
	width: calc(33.333% - 30px);
}
.tmTemplateLibrary__templates--page .tmTemplateLibrary__template {
	width: calc(25% - 30px);
}
.tmTemplateLibrary__template-body {
	position: relative;
}
.tmTemplateLibrary__template-preview {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .5);
	opacity: 0;
	cursor: pointer;
	-webkit-transition: opacity .5s;
	        transition: opacity .5s;
}
.tmTemplateLibrary__template-preview i {
	position: absolute;
	top: 50%;
	left: 50%;
	color: #d5dadf;
	font-size: 20px;
	-webkit-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
}
.tmTemplateLibrary__template-badge {
	position: absolute;
	top: 10px;
	right: 10px;
	display: inline-block;
	padding: 2px 4px;
	border-radius: 2px;
	background-color: #e8357c;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: .5px;
	font-size: 10px;
}
.tmTemplateLibrary__template:hover .tmTemplateLibrary__template-preview {
	opacity: 1;
}
.tmTemplateLibrary__template-thumbnail {
	display: block;
	width: 100%;
}
.tmTemplateLibrary__template-footer {
	position: absolute;
	bottom: 0;
	left: 0;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display:         flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	        align-items: center;
	-ms-flex-align: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	-webkit-justify-content: space-between;
	        justify-content: space-between;
	padding: 10px;
	width: 100%;
	background-color: #fff;
	font-size: 11px;
	line-height: 1;
	-webkit-transition: -webkit-transform .5s;
	        transition: -webkit-transform .5s;
	        transition:         transform .5s;
	        transition:         transform .5s, -webkit-transform .5s;
	-webkit-transform: translateY(100%);
	    -ms-transform: translateY(100%);
	        transform: translateY(100%);
}
.tmTemplateLibrary__template:hover .tmTemplateLibrary__template-footer {
	-webkit-transform: translateY(0);
	    -ms-transform: translateY(0);
	        transform: translateY(0);
}
.tmTemplateLibrary__template .tmTemplateLibrary__pro-button {
	color: #e8357c;
}
.tmTemplateLibrary__template .tmTemplateLibrary__pro-button:hover,
.tmTemplateLibrary__template .tmTemplateLibrary__pro-button:focus {
	color: #ed639a;
}
.tmTemplateLibrary__template .tmTemplateLibrary__insert-button {
	color: #562dd4;
}
.tmTemplateLibrary__template .tmTemplateLibrary__insert-button:hover,
.tmTemplateLibrary__template .tmTemplateLibrary__insert-button:focus {
	color: #7857dd;
}
.tmTemplateLibrary__template .tmTemplateLibrary__preview-button {
	color: #495157;
}
.tmTemplateLibrary__template .tmTemplateLibrary__preview-button:hover,
.tmTemplateLibrary__template .tmTemplateLibrary__preview-button:focus {
	color: #606b73;
}

#elementor-template-library-header-preview .tmTemplateLibrary__pro-button {
	background-color: #e8357c;
	color: #fff;
}
#elementor-template-library-header-preview .tmTemplateLibrary__pro-button:hover,
#elementor-template-library-header-preview .tmTemplateLibrary__pro-button:focus {
	background-color: #ed639a;
	color: #fff;
}
#elementor-template-library-header-preview .tmTemplateLibrary__insert-button {
	background-color: #562dd4;
	color: #fff;
}
#elementor-template-library-header-preview .tmTemplateLibrary__insert-button:hover,
#elementor-template-library-header-preview .tmTemplateLibrary__insert-button:focus {
	background-color: #7857dd;
	color: #fff;
}
